:root{
      // Primary
   --color-primary: #2A90AB;

      // Secondary
   --color-secondary: #FFBA52;

      // Grey Light
   --color-grey-light-1: #EEE;
   --color-grey-light-2: #CCC;
   --color-grey-light-3: #AAA;
   
      // Grey Dark
   --color-grey-dark-1: #666;
   --color-grey-dark-2: #444;
   --color-grey-dark-3: #222;

}